<div id="scanFS" class="scanfs" aria-hidden="true">
  <video id="scanFSVideo" autoplay playsinline muted></video>

  <div id="scanFSMsg" class="scanfs-hud">Escaneie o código</div>

  <div id="scanFSStack" class="scanfs-stack" role="log" aria-live="polite"></div>

  <div class="scanfs-frame">
    <div class="corner tl"></div>
    <div class="corner tr"></div>
    <div class="corner bl"></div>
    <div class="corner br"></div>
     <div class="scanfs-laser"></div>
  </div>

<div class="scanfs-bottom">
  <div class="scan-hint">Escaneie o código</div>
  <div id="scan-packages-count" class="scan-packages-count" aria-live="polite">0</div>

  <!-- 🔹 Novo botão para fechar o scanner -->
  <button id="scanCloseBtn" type="button" class="btn btn-light mt-2">
    Fechar
  </button>
</div>
 
    

</div>
