<meta charset="utf-8" />
<title>@@title | ROTEVO</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="ROTEVO — Gestão Inteligente de Entregas" name="description" />
<meta content="ROTEVO" name="author" />
<meta name="application-name" content="ROTEVO" />
<meta name="apple-mobile-web-app-title" content="ROTEVO" />
<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">
<link rel="icon" type="image/png" href="assets/images/favicon.png">